body {
  background-color: #F3F1F5;
}

th, td {
  border: 1px solid grey;
}

nav {
  border: 1px solid #FFFFFF;
  margin-top: -2%;
  margin-left: -2%;
  width: 100%;
  padding: 3%;
  background-color: #FFFFFF;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}

#main {
  border-top: 1px solid #E9E5ED;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 110%;
    width: 50%;
    border: 1px solid #E9E5ED;
    resize: none;
}

textarea:focus {
  outline: 1px solid #008CBA;
}

#button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button:focus {
  outline: 0;
}

#button:hover {
  background-color: hsl(200, 68%, 36%)
}

#button:active {
  background-color: hsla(202, 57%, 25%, 1)
}

#output h1 {
  font-size: 120%;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 4%;
  margin-left: -2%;
  padding: 3%;
  width: 100%;
  color: black;
}

#result {
  font-size: 150%;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: -5%;
  margin-right: -5%;
  margin-top: -1%;
  padding: 5%;
}
