body {
  background-color: #F3F1F5;
  font-family: sans-serif;
}

th, td {
  border: 1px solid grey;
}

nav {
  border: 1px solid #FFFFFF;
  margin-top: -2%;
  margin-left: -2%;
  width: 100%;
  padding: 3%;
  background-color: #FFFFFF;
  font-size: 200%;
  text-align: center;
}

#user_input {
  border-top: 1px solid #E9E5ED;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 110%;
    width: 50%;
    border: 1px solid #E9E5ED;
    resize: none;
}

textarea:focus {
  outline: 1px solid #008CBA;
}

#randomize {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3%;
    position: relative;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

#randomize:focus {
  outline: 0;
}

#randomize:hover {
  background-color: #1d719a;
}

#randomize:active {
  background-color: #1b4964;
}

.result {
  font-size: 200%;
  font-weight: lighter;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: -5%;
  margin-right: -5%;
  margin-top: 4%;
  padding: 5%;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.result_randomized {
  font-size: 400%;
  font-weight: lighter;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5%;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  margin-left: -5%;
  margin-right: -5%;
}


/* Timer */

#message {
  margin-top: 30%;
  text-align: center;
  font-size: 120%;
}

#timer {
  font-size: 500%;
  margin-top: 5%;
  text-align: center;
}

#start {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3%;
    position: relative;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

#start:focus {
  outline: 0;
}

#start:hover {
  background-color: #246d22;
}

#start:active {
  background-color: #164215;
}

.show {
  display: block;
}

.hide {
  visibility: hidden;
}

.remove {
  display: none;
}
