body {
  background-color: #F3F1F5;
}

th, td {
  border: 1px solid grey;
}

nav {
  border: 1px solid #FFFFFF;
  margin-top: -2%;
  margin-left: -2%;
  width: 100%;
  padding: 3%;
  background-color: #FFFFFF;
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}


#button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
    margin-top: 2%;
}

#button:hover {
  background-color: hsl(200, 68%, 36%)
}
